[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
loguru = "*"
thrift = "*"
geventhttpclient = "*"
gevent = "*"
python-dotenv = "*"
python-axolotl-curve25519 = "*"

[requires]
python_version = "3.8"

[scripts]
thrift = "python thrift_setup.py"
test = "python test.py"
