[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
loguru = "*"
thrift = "*"

[requires]
python_version = "3.8"

[scripts]
thrift = "python thrift_setup.py"
